@media screen and (min-width:320px) {
    .estatisticas {
        background: $sherpa_blue;
        
        div {
            text-align: center;
            padding: 2em 0;

            span {
                color: black;
                font-size: 2em;
            }

            h1 {
                font-size: 1em;
                .count {
                    color: $white;
                }
            }

            h2 {
                color: $surfs_up;
            }
        }
    }
}

@media screen and (min-width:800px) { 
    .estatisticas {
        display: flex;
        padding: 2em 0;

        div {
            width: 100%;
            padding: 0;

            &:not(:last-child) {
                border-right: 1px solid $gray;
                padding: 0 .5em;
            }
        }
    }
}