@media screen and (min-width:320px) {
    .header {
        background-size: cover;
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: center;

        img {
            height: 100vh;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    
        h2 {
            color: #007489;
            z-index: 2;
            font-size: 1.8em;
        }
    
        h1 {
            z-index: 2;
            font-size: 3em;
        }
    
        p {
            z-index: 2;
        }
    
        button {
            margin-top: .8em;
            z-index: 2;
            background: transparent;
            color: $white;
            border: 3px solid $gray;
            padding: .75em 0;
            width: 10em;
            font-size: 1.1em;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 2em;
            transition: .5s;
    
            &:hover {
                border-color: $blue_black_light;
            }
        }
    
        .social_media_icons {
            z-index: 2;
            position: absolute;
            bottom: 1.5em;
    
            a {
                color: $white;
                font-size: 2em;
                margin: 0 .3em;
            }
        }
    
        &::after {
            content: "";
            height: 100%;
            display: block;
            background: rgba($blue_black_1,.7);
            z-index: 1;
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
}

@media screen and (min-width:500px) {
    .header {
        h2 {
            font-size: 2.8em;
        }
    
        h1 {
            font-size: 5em;
        }
    
        p {
            font-size: 1.5em;
        }
    }
}