.portifolio {
    text-align: center;
    margin-top: 3em;
    padding: 4em 0;
    position: relative;

    h2 {
        color: $blue_black_light;
        font-size: 1.1em;
    }

    h1 {
        margin-top: .5em;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
        margin-top: 2em;
        div {
            position: relative;
            overflow: hidden;
            margin: 1em 1em;
            img {
                width: 100%;
                height: 100%;
            }

            h1 {
                color: white;
                position: absolute;
                top: 50%;
                left: -20%;
                transform: translate(-50%,-100%);
                z-index: 2;
                transition: .5s;
                cursor: pointer;
                font-size: 2em;
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
                background: rgba(0, 0, 0,0);
                transition: .5s;
                top: 0;
                left: 0;
                cursor: pointer;
            }
            &:hover:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
                background: rgba(0, 0, 0,.6);
                top: 0;
                left: 0;
                cursor: pointer;
            }

            &:hover {
                h1 {
                    left: 50%;
                }
            }
        }
    }
}